[submodule "katas/calculator"]
	path = katas/calculator
	url = https://github.com/pxlprfct/calculator
	branch = main
[submodule "katas/integer-to-roman-numerals"]
	path = katas/integer-to-roman-numerals
	url = https://github.com/pxlprfct/integer-to-roman-numerals
	branch = main
[submodule "katas/tic-tac-toe"]
	path = katas/tic-tac-toe
	url = https://github.com/pxlprfct/tic-tac-toe
	branch = main
[submodule "katas/temperature-sensor-problem"]
	path = katas/temperature-sensor-problem
	url = https://github.com/pxlprfct/temperature-sensor-problem
	branch = main
[submodule "katas/component-refactor"]
	path = katas/component-refactor
	url = https://github.com/pxlprfct/component-refactor
	branch = main
[submodule "katas/algorithms"]
	path = katas/algorithms
	url = https://github.com/pxlprfct/algorithms
	branch = main
